<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Axis Learning</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/courses.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/selected-course.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="css/media.css">-->
</head>
<body>
<header id="myNav">
    <div class="container-full" id="navbar">
        <a href="/"><img id="logo" src="images/logo.png" alt=""></a>
        <div id="hamburger-icon">
            <input type="checkbox" id="btnControl"/>
            <label for="btnControl" id="label-hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <ul id="nav-ul">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="courses">Courses</a></li>
            <li><a href="contact">Contact Us</a></li>
        </ul>
    </div>
    <ul id="mobile-nav-ul">
        <li><a href="/"><img src="images/menu%20svgs/services.png" alt="">Home</a></li>
        <li><a href="about"><img src="images/menu%20svgs/questionnaire.png" alt="">About</a></li>
        <li><a href="courses"><img src="images/menu%20svgs/reviewers.png" alt="">Courses</a></li>
        <li><a href="contact"><img src="images/menu%20svgs/blog.png" alt="">Contact Us</a></li>
    </ul>
</header>

{{{body}}}

<footer>
    <div id="upper-footer">
        <div class="container">
            <img src="images/Axis-black%20medium.png" alt="Axis Learning">
            <div>
                <p>info@axislearning.com</p>
                <div class="home-social-links">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <div id="lower-footer">
        <p>Axis Learning Copyrights © 2019</p>
    </div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="main.js"></script>
</body>

</html>