<div id="main-about">
    <div id="about-content">

        <h1>ABOUT US</h1>
        <div id="para">
            <p>Axis Learning is an institute for everyone who wants to improve professionally and wants to excel in the
                field of their interest. We aim to become an institution where people from all walks of life can have the
                privilege to learn new stuff with the latest teaching methodologies. Axis Learning understands the needs of
                the modern world and therefore, we have the best arrangements to fulfill these requirements for our
                students. Axis Learning is an innovative learning center that primarily offers IT courses along with
                language and personality development courses. This institute has a lot of substance to offer to our young
                professionals, students and for all those who want to up skill themselves to live a better living. It is a
                known fact that without learning certain skills, one cannot excel in life. Keeping this in view, Axis
                Learning has developed its focus to improve the skills of masses and equip them to be able to compete with
                the rest of the world. We are deeply thankful to our instructors/trainers who have joined us to be a part of
                this journey. Joining hands with our industry leading instructors, Axis Learning feels proud and confident
                to achieve our goals.</p>
        </div>

        <div id="statements">
            <h2>‘Mission Statement’</h2>
            <p>To become a leading institute in the field of education by introducing the latest teaching methodologies
                and course contents.</p>
            <h2>
                ‘Vision Statement’
            </h2>
            <p>
                To empower the young and passionate individuals of Pakistan
            </p>
            <h2>
                ‘Our Philosophy’
            </h2>
            <p>
                “Give a man 1 Rupee and you serve him for a day. Teach a man to earn 1 rupee and you serve him for a
                lifetime”
            </p>
        </div>
    </div>
</div>