<div id="main-contact">
    <div id="contact-container">
        <h1 id="contact-heading">Contact Us</h1>
        <iframe id="location"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3401.135558626546!2d74.32000361554672!3d31.52043658136969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391905cae2aed99f%3A0x3ca7eb22ab479b43!2sAxis%20Learning%20Institute!5e0!3m2!1sen!2sus!4v1575455898494!5m2!1sen!2sus"
                frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="contact-form">
            <form action="send" method="POST">
                <p>
                    <label>First Name</label>
                    <input type="text" name="firstName" required>
                </p>
                <p>
                    <label>Last Name</label>
                    <input type="text" name="lastName" required>
                </p>
                <p>
                    <label>Email</label>
                    <input type="email" name="email" required>
                </p>
                <p>
                    <label>Phone</label>
                    <input type="text" name="number">
                </p>
                <p class="full">
                    <label>Message</label>
                    <textarea name="message" rows="5" required></textarea>
                </p>
                <p class="full">
                    <button type="submit">Submit</button>
                </p>
                {{{msg}}}
            </form>
            <div id="contact-info">
                <h2>Get in Touch</h2>
                <p><span class="bold-it">Address:</span> 11 - Wahdat Road, Opposite Gohar Center, Wahdat Road, Lahore
                </p>
                <p><span class="bold-it">Email:</span> info@axislearning.com</p>
                <p><span class="bold-it">Contact Numbers:</span></p>
                <p>0333 4243613</p>
                <p>0321 7989787</p>
            </div>
        </div>
    </div>
</div>