<div id="main-contact">
    <div id="contact-container">
        <h1 id="contact-heading">Contact Us</h1>
        <iframe id="location"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212.75239520642907!2d74.26765639428596!3d31.44061188650784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ce9194cfe945410!2sWorkWise+Trainings!5e0!3m2!1sen!2s!4v1565336926526!5m2!1sen!2s"
                frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="contact-form">
            <form action="send" method="POST">
            <p>
                <label>First Name</label>
                <input type="text" name="firstName" required>
            </p>
            <p>
                <label>Last Name</label>
                <input type="text" name="lastName" required>
            </p>
            <p>
                <label>Email</label>
                <input type="email" name="email" required>
            </p>
            <p>
                <label>Phone</label>
                <input type="text" name="number">
            </p>
            <p class="full">
                <label>Message</label>
                <textarea name="message" rows="5" required></textarea>
            </p>
            <p class="full">
                <button type="submit">Submit</button>
            </p>
                {{{msg}}}
            </form>
            <div id="contact-info">
                <h2>Get in Touch</h2>
                <p><span id="bold-it">Address:</span></p>
                <p><span id="bold-it">Email:</span></p>
                <p><span id="bold-it">Contact Numbers:</span></p>
                <p>03123456789</p>
                <p>03123456789</p>
                <p>03123456789</p>
            </div>
        </div>
    </div>
</div>