<div id="main-courses">
    <h1 id="course-heading">COURSES</h1>
    <ul id="course-list">
        <!--digital marketing-->
        <li class="client-card">
            <img src="images/icons%20courses/digital%20marketing.png" alt="Digital Marketing">
            <h2>Digital Marketing</h2>
            <!--<h3>6.3m</h3>-->
            <p>“The best marketing doesn’t feel like marketing.”–Tom Fishburne</p>
            <a href="digital-marketing">Learn More</a>
        </li>
        <!--graphic designing-->
        <li class="client-card">
            <img src="images/icons%20courses/graphic%20designing.png" alt="Graphic Designing">
            <h2>Graphic Designing</h2>
            <!--<h3>6.3m</h3>-->
            <p>“Digital design is like painting, except the paint never dries.”-Neville Brody</p>
            <a href="graphic-designing">Learn More</a>
        </li>
        <!--wordpress-->
        <li class="client-card">
            <img src="images/icons%20courses/wordpress.png" alt="WordPress">
            <h2>WordPress</h2>
            <p>“Website without visitors is like a ship lost in the horizon.”-Dr. Christopher Dayagdag</p>
            <a href="wordpress">Learn More</a>
        </li>
        <!--web development-->
        <li class="client-card">
            <img src="images/icons%20courses/web%20dev.png" alt="Web Development">
            <h2>Web Development</h2>
            <p>“What separates design from art is that design is meant to be... functional.”-Cameron Moll</p>
            <a href="web-development">Learn More</a>
        </li>
        <!--seo-->
        <li class="client-card">
            <img src="images/icons%20courses/seo.png" alt="Search Engine Optimization(SEO)">
            <h2>SEO</h2>
            <p>“Today it’s not about ‘get the traffic’ — it’s about ‘get the targeted and relevant traffic.”-Adam
                Audette</p>
            <a href="seo">Learn More</a>
        </li>
        <!--android development-->
        <li class="client-card">
            <img src="images/icons%20courses/android%20(1).png" alt="Android Development">
            <h2>Android Development</h2>

            <p>“Your mobile device has quickly become the easiest portal into your digital self.”-Phil Nickins</p>
            <a href="android-development">Learn More</a>
        </li>
        <!--3d animation and desinging-->
        <li class="client-card">
            <img src="images/icons%20courses/3d-animation.png" alt="3D Animation & Designing">
            <h2>3D Animation & Designing</h2>
            <p>“Animation is imagination.”-Dan</p>
            <a href="animation&designing">Learn More</a>
        </li>
        <!--advanced excel-->
        <!--        <li class="client-card">
                    <img src="images/icons%20courses/excel.png" alt="Advance Excel">
                    <h2>Advance Excel</h2>
                    <p>"There can be no rise in the value of labour without a fall of profits"-David Ricardo</p>
                    <a href="advance-excel">Learn More</a>
                </li>-->
        <!--quickbooks-->
        <!--        <li class="client-card">
                    <img src="images/icons%20courses/quickbooks.png" alt="Quickbooks">
                    <h2>QuickBooks</h2>
                    <p>“Time is more value than money. You can get more money, but you cannot get more time.”-Jim Rohn</p>
                    <a href="quickbooks">Learn More</a>
                </li>-->
        <!--spoken english-->
        <li class="client-card">
            <img src="images/icons%20courses/spoken%20english.png" alt="Spoken English & Personality Development">
            <h2>Professional Development</h2>
            <p>"Learning is not a spectator sport."-D. Blocher</p>
            <a href="professional-development">Learn More</a>
        </li>
        <!--freelancing-->
        <!--        <li class="client-card">
                    <img src="images/icons%20courses/freelancing.png" alt="Freelancing">
                    <h2>Freelancing</h2>
                    <p>“The supreme accomplishment is to blur the line between work and play.”-Arnold J. Toynbee</p>
                    <a href="freelancing">Learn More</a>
                </li>-->
        <!--language course-->
        <li class="client-card">
            <img src="images/icons%20courses/ielts.png" alt="Language Courses">
            <h2>IELTS</h2>
            <p>"The art of communication is the language of leadership."-James Humes</p>
            <a href="ielts">Learn More</a>
        </li>
    </ul>
</div>