<div id="course-select">
    <div id="course-select-container">
        <h1>Digital Marketing</h1>
        <img src="images/icons courses/digital marketing.png" alt="Digital Marketing">
        <p id="course-description">Digital marketing encompasses all marketing efforts that use an electronic device or
            the internet. Businesses leverage digital channels such as search engines, social media, email, and other
            websites to connect with current and prospective customers.</p>
        <form action="downloadCourse" method="POST">
            <p>
                <label>First Name</label>
                <input type="text" name="firstName" required>
            </p>
            <p>
                <label>Last Name</label>
                <input type="text" name="lastName" required>
            </p>
            <p>
                <label>Email</label>
                <input type="email" name="email" required>
            </p>
            <p>
                <label>Phone</label>
                <input type="text" name="number">
            </p>
            <p>
                <label>Course</label>
                <input type="text" name="course" value="Digital Marketing" readonly><br>
            </p>
            <p>
                <button type="submit">Download Course Outline</button>
            </p>
        </form>
    </div>
</div>