<section class='first-section' id="home-first-section">
    <div class="container">
        <div class="home-intro">
            <p class="home-slogan">
                <span class="medium" id="slogan1">Learn.</span>
                <span class="semibold" id="slogan2">Grow.</span>
                <span class="bold" id="slogan3">Collaborate.</span>
            </p>
            <p class="home-desc">Axis Learning is an institute for everyone who wants to improve professionally and
                wants
                to excel in the field of their interest.</p>
            <a href="courses" id="get-started">Get Started</a>
        </div>
        <img src="images/learn-bulb.png" alt="Axis Learning" id="learn-bulb">
    </div>
</section>
