<div id="course-select">
    <div id="course-select-container">
        <h1>Professional Development</h1>
        <img src="/images/icons courses/spoken english.png" alt="Professional Development">
        <p id="course-description">Professional development is learning to earn or maintain professional credentials
            such as academic degrees to formal coursework, attending conferences, and informal learning opportunities
            situated in practice. It has been described as intensive and collaborative, ideally incorporating an
            evaluative stage.</p>
        <form action="downloadCourse" method="POST">
            <p>
                <label>First Name</label>
                <input type="text" name="firstName" required>
            </p>
            <p>
                <label>Last Name</label>
                <input type="text" name="lastName" required>
            </p>
            <p>
                <label>Email</label>
                <input type="email" name="email" required>
            </p>
            <p>
                <label>Phone</label>
                <input type="text" name="number">
            </p>
            <p>
                <label>Course</label>
                <input type="text" name="course" value="Professional Development" readonly><br>
            </p>
            <p>
                <button type="submit">Download Course Outline</button>
            </p>
        </form>
    </div>
</div>