<div id="course-select">
    <div id="course-select-container">
        <h1>WordPress</h1>
        <img src="/images/icons courses/wordpress.png" alt="WordPress">
        <p id="course-description">WordPress is the simplest, most popular way to create your own website or blog. In
            fact, WordPress powers over 34% of all the websites on the Internet. Yes – more than one in four websites
            that you visit are likely powered by WordPress. The end result is that WordPress makes building a website
            accessible to anyone – even people who aren’t developers.</p>
        <form action="downloadCourse" method="POST">
            <p>
                <label>First Name</label>
                <input type="text" name="firstName" required>
            </p>
            <p>
                <label>Last Name</label>
                <input type="text" name="lastName" required>
            </p>
            <p>
                <label>Email</label>
                <input type="email" name="email" required>
            </p>
            <p>
                <label>Phone</label>
                <input type="text" name="number">
            </p>
            <p>
                <label>Course</label>
                <input type="text" name="course" value="WordPress" readonly><br>
            </p>
            <p>
                <button type="submit">Download Course Outline</button>
            </p>
        </form>
    </div>
</div>