@font-face{
    font-family: 'gotham-medium';
    src: url("../fonts/Gotham/Gotham-Medium.otf");
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'gotham-light';
    src: url("../fonts/Gotham/Gotham-Light.otf");
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'gotham-lightitalic';
    src: url("../fonts/Gotham/Gotham-LightItalic.otf");
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'gotham-book';
    src: url("../fonts/Gotham/Gotham-Book.otf");
    font-style: normal;
    font-weight: 100;
}